.b-result {
  background: var(--bg-gradient-1);
  padding: 2.4em 5.7em 4em 5.8em;
  text-align: center;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
}

.b-result__title {
  color: var(--blue-light);
}

.b-result__average {
  background: var(--bg-gradient-2);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.b-result__value {
  color: var(--white);
  font-size: 56px;
  line-height: 72px;
}

.b-result__value-2 {
  color: var(--blue-light);
  font-weight: var(--bold);
  font-size: 16px;
}

.b-result__text {
  color: var(--white);
  font-size: 24px;
  line-height: 31.27px;
  font-weight: var(--bold);
  margin-bottom: 8px;
}

.b-result__description {
  color: var(--blue-light);
  font-size: 16px;
  line-height: 20.85px;
  font-weight: var(--medium);
}

@media screen and (min-width: 992px) {
  .b-result {
    max-width: 368px;
    border-radius: 30px;
    padding: 46px;
  }

  .b-result__average {
    width: 200px;
    height: 200px;
  }

  .b-result__value {
    font-size: 72px;
  }

  .b-result__value-1 {
    font-size: 18px;
  }

  .b-result__average {
    margin-bottom: 28px;
  }

  .b-result__text {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .b-result__description {
    font-size: 18px;
  }
}