:root {
  --bg-gradient-1: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
  --bg2-gradient-2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
  
  --yellow: #FFB21E;
  --yellow-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #FFB21E;
  
  --blue: #1125D6;
  --blue-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #1125D6;
  --blue-light: #CAC9FF;
  --blue-light-2: #ECF2FF;

  --green: #00BB8F;
  --green-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #00BB8F;
  
  --red: #FF5555;
  --red-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #FF5555;
  
  --dark: #303B59;
  --white: #fff;

  /* FONTS */
  --display-font: 'Hanken Grotesk',
    sans-serif;
  --medium: 500;
  --bold: 700;
  --extraBold: 800;
}
